In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv('train_data_cleaned_with_features.csv')
X = data.drop(columns = 'price')
y = data['price']

X_train, X_val, y_train, y_val = train_test_split(X,y, random_state = 1, test_size = 0.2)
X_train.head()

,bed,bath,area,bintaro,ciputat,pamulang,raya,jl,sutera,cluster,SEKTOR,JAYA,SERPONG,LANTAI,DEKAT,MURAH
18941,3.0,3.0,105,1,0,0,0,0,0,0,1,0,0,0,0,0
6901,2.0,2.0,63,1,0,0,0,0,0,0,0,0,0,0,0,0
9914,2.0,2.0,68,0,1,0,1,0,0,0,0,0,0,0,0,0
9316,5.0,5.0,500,1,0,0,0,0,0,0,0,0,0,0,0,0
9197,4.0,3.0,219,1,0,0,0,0,0,0,1,0,0,0,0,0

In [3]:
forest_model = RandomForestRegressor(random_state=1)
forest_model.fit(X_train, y_train)
predictions = forest_model.predict(X_val)
print("MAE: ", mean_absolute_error(y_val, predictions))
print("mean of actual values:", y_val.mean())

MAE:  738055230.0601163
mean of actual values: 3247638048.785488

In [4]:
MAPE = round(100*(mean_absolute_error(y_val, predictions)/y_val.mean()))
print("Mean Absolute Prediction Error:", MAPE, "%")

Mean Absolute Prediction Error: 23 %

In [5]:
test_data = pd.read_csv('test_data_cleaned_with_features.csv')
X_test = test_data.drop(columns = 'price')
y_test = test_data['price']
preds = forest_model.predict(X_test)
print("MAE: ", mean_absolute_error(y_test, preds))

MAE:  475850073.47283137

In [14]:
print("mean of actual values:", y_test.mean())
MAPE = round(100* mean_absolute_error(y_test, preds)/y_test.mean())
print("Mean Absolute Prediction Error:", MAPE, "%")

mean of actual values: 3268954510.291176
Mean Absolute Prediction Error: 15 %